body {
  background-color: #a18a8a;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: flex;
}

.left-div, .right-div {
  padding: 20px;
  border: 1px solid #5a5959;
}

.left-div {
  width: 20%;
  background-color: #E68369;
  height: 80vh;
}
.left-div h3{
  color: rgb(21, 21, 21);
  text-align: center;
  
  border-radius: 20px;
  padding: 5px;
}
.right-div {
  width: 80%;
 
  background-color: #131842;
}
.right-div h2{
  color: white;
}

.draggable-element {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #e7e7e7;
  cursor: grab;
  text-align: center;
}
.dropped-element {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label{
  display: block;
}
.element-container{
  background-color: rgb(154, 152, 152);
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.delete-button{
  position: absolute;
  top: 2px;
  right: 2px;
}
.edit-button{
  position:absolute;
  top:2px;
  right: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  
}

.modal-content {
  background-color: #BBE9FF;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  line-height: 25px;
}

.close {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#saveButton{
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  background-color: #131313;
  color: white;
}
.form-heading {
  margin: 10px 0;
  padding: 10px;
  background-color: #E68369;
}

#formHeading {
  width: 25%;
  padding: 10px;
  margin-top: 5px;
}
#saveFormButton{
  background-color: #2e215c;
  padding: 10px;
  text-align: center;
  color: white;
  border: none;
}
.saveForm{
  background-color: #E68369;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#savedFormsList{
  background-color: #0e0e0e;
  margin-top:3px ;
  color: rgb(248, 237, 237);
  padding: 5px;
  height: 100vh;
  width: 60%;
  list-style-type:none;
}
.saved-forms{
  background-color: #5d5755;
  padding: 5%;
  margin-top: 10px;
}
.landing-container, .preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 100%;
  flex-direction: column;
  font-family: "Ga Maamli", sans-serif;
}
.landing-container{
  background-image: url(https://wallpaperaccess.com/full/3873355.jpg);
  background-size: cover;
  position: relative;
}
.landing-container h1{
  color: rgb(10, 204, 243);
  font-size: 72px;
  background-color: #5a59594a;
  margin-bottom: 20%;
}
.landing-container button{
  padding: 1.5rem;
  display: inline-block;
  margin-top: 5%;
  border: none;
  background-color: #11b8eb;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
#previewFormsButton{
  position: absolute;
  left: 80px;
  bottom: 100px;
  
  
}
#createNewFormButton{
  position: absolute;
  right: 80px;
  bottom: 100px;
}
.preview-container{
  position: relative;
}
.preview-container h2{
  color: white;
}
#backToLandingPage{
  position: absolute;
  top: 20px;
  right: 50px;
  padding: 10px 20px;
  background-color: #0e0e0e;
  color: white;
  border: none;
}




 